[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
Werkzeug = "2.2.2"
sqlalchemy-serializer = "*"
faker = "15.3.2"
flask-migrate = "*"
flask-restful = "*"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
pytest = "7.2.0"
flask-bcrypt = "1.0.1"
gunicorn = "*"
psycopg2-binary = "*"
cors = "*"
flask-cors = "*"
python-dotenv = "*"

[requires]
python_full_version = "3.8.13"
