/* Login.css

.login-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.login-welcome {
    text-align: center;
    margin-top: 20px;
}

.logout-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login-form {
    margin-top: 20px;
}

.login-form div {
    margin-bottom: 10px;
}

.login-form label {
    display: block;
}

.login-form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-form button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 10px;
}

 */
