.navbar {
    
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    padding: 5px;
    margin: 0 6px 6px;
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    color: whitesmoke;
    
    
    
}

nav {
    box-shadow: 0 3px 10px rgba(109, 12, 12, 0.2);
    background-color: rgb(20, 8, 75);
}

